/* Styling for box around Horiseon title and boxes around navigation terms (example: Search Engine Optimization, etc.) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for the entire webpage */
body {
    background-color: #d9dcd6;
}

/* Controls the size of the header on the page, controls the font of Horiseon, controls the background color of the header, creates padding so the header is thicker */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Places the navigation titles on top of the header box, controls the font size of Horiseon */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Makes the 'seo' in the Horiseon title a different color than the rest of the letters */
header h1 .seo {
    color: #d9dcd6;
}

/* Changed navigation header to nav for better optimization. Controls the padding, spacing, margins, font, and size of the navigation titles */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* Spaces out navigation titles so they are not on top of eachother, puts them in a straight line */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Makes navigation titles white, takes away underline from navigation titles */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Font size for paragraphs */
p {
    font-size: 16px;
}

/* Style for first image on page of people sitting around table, allows it to take up large amount of space and cover the entire background */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/digital-marketing-meeting.jpg");
}

/* Makes Search Engine Optimization and Social Media Marketing titles and text float to the left of their images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Makes Online Reputation Management title and text float right of its image */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Makes search engine optimization, online reputation management, and social media management sections take up 75% width of the page on the left, and align with the right section column */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Changed benefit-lead, benefit-brand, benefit-cost to one block with the name benefit-content */
.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Changed benefit-lead h3, benefit-brand h3, benefit-cost h3 to one block with the name benefit-content h3 */
.benefit-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Changed search-engine-optimization, online-reputation-management, and social-media-marketing to one block with the same "content sections"*/
.content-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-sections img {
    max-height: 200px;
}

/*Changed search-engine-optimization h2, online-reputation-management h2, and lead-generation h2 to one block with the name content-sections h2 */
.content-sections h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
